name: tests

on:
  push:
    branches:
      - master

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-go@v5
        with:
          go-version: 1.24

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v7
    
      - name: Test
        run: go test -coverprofile=coverage.txt -covermode=atomic $(go list ./... | grep -v internal/commands)

      - name: Test Race
        run: go test -race -v ./...

      - name: Publish coverage
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.txt
          slug: vitalvas/gopass
